<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>{{ title }}</title>

<meta name="description" content="{{ meta_description }}">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- jQuery, jQuery.ui -->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

<!-- Bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<!-- React -->
<script src="https://fb.me/react-0.14.2.js"></script>
<!-- <script src="https://fb.me/react-dom-0.14.2.min.js"></script> -->

{% include 'partials/favicons.html' %}
